*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    min-width: 100vw;
    min-height: 100vh;
}
.container{
    max-width: 1200px;
    padding: 0 1.5vw;
    height: 100vh;
    margin: 0 auto;
}

/* 
header styles */

.header{
    height: 12vh;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: rgb(89, 194, 240);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-contain{
    margin-right: 10px;
}

.h-btn{
    padding: 10px;
    width: 100px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

#login{
    background: transparent;
    border: 2px solid white;
    color: white;
}

#sign-up{
    background: white;
    color: rgb(89, 194, 240);
}

header{
    width: 100vw;
    height: 10vh;
}


.logo-img{
    height: 100%;
}

/* 
header styles-end */

h1{
    font-size: 1.5rem;
}

.flex-contain{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 85vh;
}


/* today temp styles */
.today-temp{
    max-width: 1200px;
    color: #ffff;
    background-color: rgb(89, 194, 240);
    height: 25vh;
    border-radius: 10px;
    padding: 2vw;
}

.temp-icon-img{
    height: 50%;
}

.today-temp_contain{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display:  flex;
    align-items: center;
    justify-content: space-between;
}

#temperature{
    font-size: min(4rem, 7vw);
}

.temp-head{
    display: flex;
    justify-content: space-between;
}

.danger-img{
    height: 2rem;
    cursor: pointer;
}

.temp-icon{
    height: 50%;
}

.today-temp-num{

}

/* today temp styles-end */


/* air styles */

.air{
    height: 15vh;
    color: #ffff;
    border-radius: 10px;
    padding: 2vw;
    background-color: rgb(89, 194, 240);
}

#air-header{
    height: 2vh;
    width: 50%;
}

.air-contain{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.air-con{
    width: 100%;
}

.aqi-contain{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.air-con1{
    height: 100%;
    display: flex;
    align-items: center;
}

#aqi-num{
    font-size: 1.5rem;
}

#aqi-text{
    font-size: 1.5rem;
}
.air-con2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

.air-con2-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-icon{
    height: 20px;
    cursor: pointer;
}

#air-img{
    height: 50%;
}

/* air styles-end */

/* forecast style */

.forecast{
    height: 40vh;
    padding: 2vw;
    background-color: rgb(89, 194, 240);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.days-header{
    display: flex;
    border-radius: 20px;
    padding: 0 10px;
    justify-content: space-between; 
}

.day{
    display: flex;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 0 10px;
    justify-content: space-between;
}


.day{
    background-color: rgb(0, 128, 0);
}


.day-pred{
    display: flex;
    align-items: center;
    height: 5vh;
}

#temp{
    display: flex;
    align-items: center;
}

#day-forecast-img{
    height: 50%;
}


/* forecast style-end */

/* Modal styles */

.modal{
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
}

.msg{
    max-width: 350px;
    background: rgb(89, 194, 240);
    border: 2px solid rgb(89, 194, 240);
    border-radius: 20px;
    height: 30vh;
    visibility: hidden;
    padding: 10px;
    position: absolute;
}

.list{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
}

.close{
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    cursor: pointer;
}

.bad{
    border: 2px solid #FF4459;
}

.moderate{
    border: 2px solid #c59640;
}

.good{
    border: 2px solid #008000;
}

.health-img{
    height: 28vh;
    width: 38vw;
}

.show{
    visibility: visible;
}

/* Modal styles end */